# Lista 1

## Kurs wybranego języka programowania (Python)

Wszystkie rozwiązania proszę wpisać w tym notatniku poniżej treści zadań. Zadania z `*` to zadania dodatkowe.

## Zadanie 1 _(5pt)_

Napisz funkcję, który wyświetla trójkąt Pascala o zadanej wysokości
```
                1
              1   1
            1   2   1
          1   3   3   1
        1   4   6   4   1
      .....................
```

In [0]:
def pascal_triangle(n):
    spaces = n-1
    line = 0
    for i in range(0, n):
      for j in range(0, spaces):
        print(" ", end=' ')
      for k in range(0, line+1):
        print(binomial_coefficient(line, k), end=' ')
        print(" ", end=' ')
      print("")
      spaces-=1
      line+=1

In [0]:
def binomial_coefficient(n, k): 
    bc = 1
    for i in range(0 , k): 
        bc = bc * (n - i) 
        bc = bc // (i + 1) 
    return bc

In [0]:
pascal_triangle(15)

                            1
                          1   1
                        1   2   1
                      1   3   3   1
                    1   4   6   4   1
                  1   5   10   10   5   1
                1   6   15   20   15   6   1
              1   7   21   35   35   21   7   1
            1   8   28   56   70   56   28   8   1
          1   9   36   84   126   126   84   36   9   1
        1   10   45   120   210   252   210   120   45   10   1
      1   11   55   165   330   462   462   330   165   55   11   1
    1   12   66   220   495   792   924   792   495   220   66   12   1
  1   13   78   286   715   1287   1716   1716   1287   715   286   78   13   1
1   14   91   364   1001   2002   3003   3432   3003   2002   1001   364   91   14   1

## Zadanie 2 _(5pt)_

Napisz funkcję `primes(n)` zwracająca listę liczb pierwszych nie większych niż $n$ np.

```
In [ ]:   primes(6)
Out [ ]: [2, 3, 5]
```

In [0]:
def primes(n):
  prime_list = []
  for i in range(2, n):
      for k in range(2, i):
           if (i % k) == 0:
               break
      else:
           prime_list.append(i)
  return prime_list

In [0]:
print(primes(100))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

## Zadanie 3 _(5pt)_

Napisz funkcje, która usuwa wszystkie powtarzające się elementy z listy (tak, że każdy element występuje tylko raz) np. z listy `[1,1,2,2,2,3,3,5,5,5,4,4,4,0]` dostajemy `[1,2,3,5,4,0]`.

In [0]:
def list_cleaner(my_list):
  return list(dict.fromkeys(my_list))

In [0]:
list_cleaner([1,2,4,5,2,4,1,6,1,2,4])

[1, 2, 4, 5, 6]

## Zadanie 4 _(10pt)_

Napisz funkcję `prime_factors(n)`, która rozkłada $n$ na czynniki pierwsze i jako wynik wraca listę par $[(p_1,\alpha_1), (p_2,\alpha_2), \ldots, (p_k, \alpha_k)]$ taką, że $p_1^{\alpha_1}p_2^{\alpha_2}\ldots p_k^{\alpha_k}$.

In [0]:
def prime_factors(n):
  factors = []
  result = []
  for i in range(2, n+1):
    while n % i == 0:
      factors.append(i)
      n = n // i
  for f in list(dict.fromkeys(factors)):
    result.append((f, factors.count(f)))
  return result

In [0]:
prime_factors(27*25*1024)

[(2, 10), (3, 3), (5, 2)]

## Zadanie 5 _(10pt)_

Napisz funkcję `fraczero(n)` liczącą silnie $n!$ dla $n$ od $0$ do $10000$ oraz jako wynik wraca liczbę zer na końcu $n!$.

In [0]:
def fraczero(n):
  result = 1
  zeros = 0
  for i in range(0,n):
    result *= (i+1)
  while result % 10 == 0:
    zeros+=1
    result = result // 10 
  return zeros

In [0]:
fraczero(10000)

2499

## Zadanie 6 _(10pt)_

Napisz program, który generuje liczbę $20$ liczb losowych (rozkład jednostajny) od $1$ do $100$
* Wyświetl listę wygenerowanych liczb
* Wyświetl średnią
* Wyświetl największą i najmniejszą wartość
* Wyświetl drugą największą i drugą najmniejszą wartość na liście
* Wyświetl ile jest liczb parzystych na liście

In [0]:
import random

In [0]:
def random_list():
  my_list = []
  for i in range(0, 20):
    my_list.append(random.randrange(1,100))
  return my_list

In [0]:
def sec_max(my_list):
  clean_list = list(dict.fromkeys(my_list))
  clean_list.remove(max(clean_list))
  return max(clean_list)

In [0]:
def sec_min(my_list):
  clean_list = list(dict.fromkeys(my_list))
  clean_list.remove(min(clean_list))
  return min(clean_list)

In [0]:
def count_even(my_list):
  even = 0
  for el in my_list:
    if el % 2 == 0:
      even += 1
  return even

In [0]:
my_list = random_list()
print("Moja lista: " + str(my_list))
print("Średnia: " + str(sum(my_list)/len(my_list)))
print("Max: " + str(max(my_list)) + ", Min: " + str(min(my_list)))
print("Drugi max: " + str(sec_max(my_list)) + ", drugi min: " + str(sec_min(my_list)))
print("Parzystych: " + str(count_even(my_list)))

Moja lista: [48, 38, 19, 41, 79, 32, 6, 20, 39, 84, 83, 45, 60, 34, 54, 78, 63, 41, 72, 21]
Średnia: 47.85
Max: 84, Min: 6
Drugi max: 83, drugi min: 19
Parzystych: 11

## Zadanie 7 _(10pt)_

Załóżmy, że mamy następującą listę: `L = ['aababacaa', 'cabaabcca', 'aaabbcbacb', 'acababbaab', ...]` wygenerowaną losowo tzn. lista zawiera losowe ciągi znaków o zadanej długości z liter `'a'`, `'b'` i `'c'`. Takie wzorce występują w wielu miejscach np. sekwencje DNA. Użytkownik zawiera swój (wzorzec) ciąg znaków z literami i pustymi miejscami oznaczonymi przez `'*'` np. `"a**a******"`. Wykorzystaj słownik z kluczami zawierającymi indeksy znaków różnych od `'*'` i wartościami liter z wzorca. Napisz program, który znajduje wszystkie sekwencje z listy, które pasuje do podanego wzorca.

In [0]:
import random

In [0]:
def generate_random_list(n,k):
  my_data = ['a', 'b', 'c']
  my_list = []
  for i in range(0, n):
    el = ''
    for j in range(0, k):
      el += (random.choice(my_data))
    my_list.append(el)
  return my_list

In [0]:
def convert_to_dict(pattern):
  my_dict = {}
  for i in range(len(pattern)):
    if pattern[i] != '*':
      my_dict[i] = pattern[i]
  return my_dict

In [0]:
def match_to_pattern(pattern, lists):
  matching = []
  for current in lists:
    for key in pattern:
      if pattern[key] != current[key]:
        break
    else:
      matching.append(current)
  return(matching)

In [0]:
list_len = 10
lists = 100
my_pat = ('c*a*b**c*b')

print('Wzorzec: ' + str(my_pat))
pat = convert_to_dict(my_pat)
print('Slownik: ' + str(pat))
x = generate_random_list(lists,list_len)
print('Moja lista: ' + str(x))
print('Pasujące: ' + str(match_to_pattern(pat, x)));

Wzorzec: c*a*b**c*b
Slownik: {0: 'c', 2: 'a', 4: 'b', 7: 'c', 9: 'b'}
Moja lista: ['cabccbbaaa', 'babacbbacc', 'acbaabbcca', 'abbbcbacbb', 'bbacaabaca', 'cbcccbcbca', 'bcabbbbbba', 'bacbaababc', 'aaaaababbb', 'abbaccbbab', 'bcbbbaaabc', 'bcbabbaacb', 'abbbbacaab', 'abccabcbcb', 'abbcbcabac', 'bcbbaccbca', 'cbacacabca', 'cccacacacc', 'ccbcbbccaa', 'bcabbabcbc', 'baacacbbab', 'baacbcbcab', 'aaabababba', 'abcabcaaaa', 'acaccaccbb', 'bbcacaabcb', 'aabcccabcc', 'cabbcccbcb', 'abbbaababb', 'bcbbabbbba', 'acbabacbbb', 'bcaaaccacc', 'acaaaabbcb', 'accbcacbaa', 'aabcbaaaab', 'bcbcabcacc', 'bbaacbacba', 'cccacbacac', 'aabbaabcba', 'aaccbabacb', 'cbbabacaab', 'baaababbcc', 'bcaaabccbb', 'acbaaccacb', 'abaaabacca', 'cbaaaabcaa', 'cbcabbccbb', 'cccacbccaa', 'babaabbbcc', 'bbbabbacbb', 'cccbcccaca', 'cabacbcacc', 'aabccbacba', 'acbcbcbabb', 'ccaabcbcbb', 'abcaaaccca', 'bcacbbaccb', 'abcccbcccc', 'caaabbcbcb', 'acbacccacc', 'aacbabcaaa', 'ccbcbcbbcc', 'cccabcbccc', 'cbbabbbcab', 'bcccabcbac', 'abacabbbab', 'bcacabcbcc', 'baacabcbcb', 'cabaaaccab', 'bbcaaacaac', 'cbaacbcbcc', 'bbbcaabcca', 'aacacaccaa', 'cbabacabab', 'aabaabcbca', 'bcabacbccb', 'acacacaaab', 'abcaaabcac', 'ccbabcaacc', 'acbbbabbca', 'accbccbbbb', 'cbbccbbaac', 'accbcccbab', 'bababcbccc', 'cbcacbaacc', 'bcabcccbcb', 'bbaaaaccca', 'cbcbbbbbac', 'ccaaabbabc', 'cabcbbbaba', 'aacbbacbab', 'cbbabaabcb', 'bbbbbccbcb', 'abbcaccccb', 'baaabbacab', 'bacaaaabac', 'abcbcccbbc', 'bababcacbc', 'ccbaaaacba', 'acbcaccbbb']
Pasujące: ['ccaabcbcbb']

## Zadanie 8 _(10pt)_

Napisz program, który konwerteruje liczby rzymskie na liczby arabskie. Do zapisu liczb rzymskich używa
się 7 liter: `I=1`, `V=5`, `X=10`, `L=50`, `C=100`, `D=500`, `M=1000`. Opis algorytmu zamiany z i na system rzymski można znaleźć np. [tutaj](http://www.algorytm.org/algorytmy-arytmetyczne/zamiana-z-i-na-system-rzymski.html)

In [0]:
def roman_to_arabic(number): # lepiej
  res = 0
  current = 1001
  number_dict = {1:'I', 5:'V', 10:'X', 50:'L', 100:'C', 500:'D', 1000:'M'}
  for i in range(len(number)):
    for key in number_dict:
      if number[i] == number_dict.get(key):
        res += key
        if current < key:
          res -= 2*current
        current = key
  return res

In [0]:
roman_to_arabic("MMMCMXCIX")

3999

## Zadanie 9* _(5pt)_

Napisz program kalkulator, który pobiera wprowadzone wartości oraz funkcje z klawiatury następnie podaje wynik. W przypadku błędnych danych zgłasza błąd.

Przykładowa sesja:
```
    Kalkulator
    [1]: 2+5*10
        52
    [2]: sin(0.5)+cos(0.3)
        1.434762027729809
    [3]: 2^100
        1267650600228229401496703205376
```

Przykładowy kod pobierania danych od użytkownika:

```
    x = input('Podaj x = ')
```

In [0]:
from math import *

In [0]:
def calc_input():
  while True:
    x = input('Do policzenia: ')
    if(x=='q'):
      return
    try:
      print(str(eval(x)))
    except:
      print('Wprowadzono niepoprawne dane.')

In [0]:
calc_input()

Do policzenia: sin(0.5)
0.479425538604203
Do policzenia: 2+5*10
52
Do policzenia: 2^100
102
Do policzenia: 2**100
1267650600228229401496703205376
Do policzenia: pop
Wprowadzono niepoprawne dane.
Do policzenia: q


## Zadanie 10* _(10pt)_

Napisz program, który rysuje na ekranie w trybie znakowym wykres funkcji zmiennej $x$. Wskazówka: utwórz  ,,tablicę dwuwymiarową'' o wymiarach 80x24 i narysuj wykres w tej tablicy. Następnie wynik wyświetl na ekranie.

```
        Podaj funkcje f(x) = sin(x)
        Podaj początek przedziału a = -pi
        Podaj koniec przedziału b = pi
                                                |
                                                |
                                                |              ***********
                                                |           ***           ***
                                                |         **                 **
                                                |        *                     *
                                                |      **                       **
                                                |     *                           *
                                                |   **                             **
                                                |  *                                 *
                                                | *                                   *
                                                |*                                     *
        ----------------------------------------|---------------------------------------
          *                                   * |
           *                                 *  |
            **                             **   |
              *                           *     |
               **                       **      |
                 *                     *        |
                  **                 **         |
                    ***           ***           |
                       ***** *****              |
                            *                   |
                                                |
```

In [0]:
import numpy as np
from math import *

In [0]:
def read_func():
  return input('Insert function: ')

In [0]:
def read_input():
  res = []
  try:
    res.append(float(input('Lower range: ')))
    res.append(float(input('Upper range: ')))
  except:
    print('Wrong format.')
    exit(1)
  return res

In [0]:
def exec_func(input_range, width, input_func):
  values = {}
  my_range = np.arange(input_range[0], input_range[1], (input_range[1] - input_range[0])/width)
  for arg in my_range:
    temp = input_func.replace('x', str(arg))
    try:
      values[round(arg, 2)] = round(eval(temp), 2)
    except:
      print('Wrong format.')
      exit(1)
  return values

In [0]:
def cast_to_plot(w, h, input_range, input_func):
  max_val = max(values.keys(), key=(lambda k: values[k]))
  min_val = min(values.keys(), key=(lambda k: values[k]))
  y_scale = h/max(abs(values[max_val]), abs(values[min_val]))
  x_scale = w/(input_range[1] - input_range[0])
  res = []
  for i in range(0, h+1):
    res.append([])
    for j in range(0, w+1):
      res[i].extend(' ') 
  for arg in values:
    res[int(round(h/2)+round(values[arg]*y_scale)/2)][int(round(w/2)+round(arg*x_scale))] = '*'
    #print('x = ' + str(int(round(w/2)+round(arg*x_scale))) + ' y = ' + str(int(round(h/2)+round(values[arg]*y_scale)/2)))
  for k in range(w+1):
    res[int(round(h/2))][k] = '-'
  for m in range(h+1):
    res[m][int(round(w/2))] = '|'
  return res

In [0]:
def plot(matrix, w, h):
  for i in range(h+1):
    for j in range(w+1):
      print(matrix[h-i][j], end=' ')
    print()

In [0]:
h = 40
w = 80
input_func = read_func()
input_range = read_input()
values = exec_func(input_range, w, input_func)

plot_matrix = cast_to_plot(w, h, input_range, input_func)
plot(plot_matrix, w, h)

Insert function: (cos(x))**2
Lower range: -3
Upper range: 3
                                                                              * | *
* *                                                                       * *   |   * *                                                                       *
    *                                                                   *       |       *                                                                   *
      *                                                               *         |         *                                                               *
        *                                                           *           |           *                                                           *
          *                                                       *             |             *                                                       *
            *                                                                   |                                                                   *
                                                                *               |               *
              *                                               *                 |                 *                                               *
                *                                           *                   |                   *                                           *
                                                                                |
                  *                                       *                     |                     *                                       *
                    *                                   *                       |                       *                                   *
                                                                                |
                      *                               *                         |                         *                               *
                        *                           *                           |                           *                           *
                          *                       *                             |                             *                       *
                            *                                                   |                                                   *
                              *                 *                               |                               *                 *
                                *           * *                                 |                                 * *           *
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - | - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
                                                                                |
                                                                                |
                                                                                |
                                                                                |
                                                                                |
                                                                                |
                                                                                |
                                                                                |
                                                                                |
                                                                                |
                                                                                |
                                                                                |
                                                                                |
                                                                                |
                                                                                |
                                                                                |
                                                                                |
                                                                                |
                                                                                |
                                                                                |